<ion-tabs class="tabs-icon-only tabs-color-active-positive tab-footer-libra">

  <ion-tab icon-on="libra-timeline-active" icon-off="libra-timeline" href="#/app/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>

  </ion-tab>

  <ion-tab icon-on="libra-mybook-active" icon-off="libra-mybook" href="#/app/mylibra">
    <!-- Tab 2 content -->
    <ion-nav-view name="tab-mylibra"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="libra-add-active" icon-off="libra-add" href="#/app/addlibra">
    <!-- Tab 3 content -->
    <ion-nav-view name="tab-addlibra"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="libra-mystore-active" icon-off="libra-mystore">
    <!-- Tab 3 content -->
  </ion-tab>

  <ion-tab icon-on="libra-message-active" icon-off="libra-message">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>