/* Empty. Add your own CSS if you like */
*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: Source Sans Pro;
    src: url('../fonts/SourceSansPro.eot');/*  here you gou IE */
    src: url('../fonts/SourceSansPro.eot#iefix') format('embedded-opentype'),
     url('../fonts/SourceSansPro.otf') format('opentype'), /* IE no comprende format() */
     url('../fonts/SourceSansPro.woff') format('woff'),
     url('../fonts/SourceSansPro.ttf') format('truetype'),
      url('../fonts/SourceSansPro.svg') format('svg'); 
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Source Sans Pro'; 
    /* font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;*/
    font-size: 17px;
    color: #545454;
    overflow: hidden;
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.libra-ion-back-white{
   	background: url('../img/icon-back-white.png') no-repeat center;
}

.libra-ion-back-white{
    background-size: 25%;
    width: 25%;
    max-width: 25%;
    border-color: transparent;
    background-position: 10% 50%;
    z-index: 9;
}

.content-libra{
	background: #222;
	top: 0;
	bottom: 0;
}

/* ========================= HEADER =========================== */
	.header-libra{
		background: rgba(0, 0, 0, 0.64);
		color: #fff;
	}

	.header-libra h4{
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		color: #E4E3E3;
	}

	.header-libra div{
		height: 100%;
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.header-libra div img{
		width: 90px;
	}
/* ======================= CLOSE HEADER ======================= */

/* ========================== FOOTER ========================== */
	.has-footer, .has-tabs{
		bottom: 0px;
	}

	.tab-footer-libra .tabs{
		background: rgba(0, 0, 0, 0.64);
		height: 50px;
		padding: 0px;
	}

	.tab-footer-libra .icon{
		background-size: 32px 32px;
	    width: 35px;
	    display: table-cell;
	    vertical-align: middle;
	}

	.tab-footer-libra a{
		display: flex;
		align-items: center;
	}

	.libra-timeline-active{
		background: url('../img/btn-tab/Button-Timeline-Active.png') no-repeat center;
	}

	.libra-timeline{
		background: url('../img/btn-tab/Button-Timeline.png') no-repeat center;
	}

	.libra-mybook-active{
		background: url('../img/btn-tab/Button-My-Libra-active.png') no-repeat center;
	}

	.libra-mybook{
		background: url('../img/btn-tab/Button-My-Libra.png') no-repeat center;
	}

	.libra-add-active{
		background: url('../img/btn-tab/Button-Add-Active.png') no-repeat center;
	}

	.libra-add{
		background: url('../img/btn-tab/Button-Add.png') no-repeat center;
	}

	.libra-mystore-active{
		background: url('../img/btn-tab/Button-My-Store-active.png') no-repeat center;
	}

	.libra-mystore{
		background: url('../img/btn-tab/Button-My-Store.png') no-repeat center;
	}

	.libra-message-active{
		background: url('../img/btn-tab/Button-Message-active.png') no-repeat center;
	}

	.libra-message{
		background: url('../img/btn-tab/Button-Message.png') no-repeat center;
	}
/* ===================== CLOSE FOOTER ========================= */

/* ========================== ADD LIBRA ======================= */
	.content-addlibra{
		background: #222;
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    -moz-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    align-items: center;
	}

	.body-addlibra{
		height: 100%;
	    position: relative;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -moz-flex;
	    display: -ms-flexbox;
	  	flex-direction: column;
	  	-webkit-flex-direction: column;
	   	flex-wrap: nowrap; 
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}

	.body-addlibra button{
		border: 1px solid #fff;
		-webkit-border: 1px solid #fff;
		-moz-border: 1px solid #fff;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		background: #333;
		color: #fff;
		width: 60%;
		padding: 0px 0px;
		margin: 10px auto;
		height: 40px;
		min-height: 40px;
		line-height: 35px;
	}
/* ======================= CLOSE ADD LIBRA ==================== */

/* ======================== ADD BOOK ========================== */
	.form-addbook{
		top: 44px;
		position: relative;
		background: #fff;
	}

	.form-addbook input{
		width: 70%;
		border-bottom: 1px solid #333;
		margin: 0 auto;
	}

	.form-addbook img{
		width: 100%;
	}

	.form-addbook .submit-ok{
		background-image: url('../img/ok.png');
	    background-position: 50% 50%;
	    background-size: 65px;
	    height: 65px;
	    width: 100%;
	    background-repeat: no-repeat;
	    color: transparent;
	    background-color: #fff;
	    border: none;
	    margin: 30px 0px;
	}
/* ====================== CLOSE ADD BOOK ====================== */

/* ======================= MY LIBRA =========================== */
	.list-mylibra{
		top: 44px;
		position: relative;
		display: block;
	}

	.wrap-mylibra{
		width: 100%;
		padding: 0px;
		display: inline-block;
		position: relative;
	    border-radius: 10px;
	    background: #fff;
	}

	.wrap-mylibra .thumb-mylibra{
	    background-size: 100%;
	    /* width: 100px; */
	    /* min-width: 100%; */
	    height: 150px;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	}

	.wrap-mylibra div{
		padding: 0px;
	}

	.wrap-mylibra img{
		width: 100%;
		display: block;
		border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
	}
/* ==================== CLOSE MY LIBRA ======================== */