<ion-view hide-nav-bar="true">

	<ion-header-bar class="header-libra">
		<div class="logo">
			<img src="img/LIBRA-LOGO.png" />
		</div>
	</ion-header-bar>

	<ion-content>
		<div>
			Home Timeline
		</div>
	</ion-content>

</ion-view>