/* line 48, ../sass/style.scss */
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Source Sans Pro;
  src: url("../../fonts/SourceSansPro.eot");
  /*  here you gou IE */
  src: url("../../fonts/SourceSansPro.eot#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro.otf") format("opentype"), url("../../fonts/SourceSansPro.woff") format("woff"), url("../../fonts/SourceSansPro.ttf") format("truetype"), url("../../fonts/SourceSansPro.svg") format("svg");
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

/* line 66, ../sass/style.scss */
body {
  font-family: 'Source Sans Pro';
  font-size: 17px;
  color: #545454;
  height: 100%;
  overflow: hidden;
  cursor: url("http://ionicframework.com/img/finger.png"), auto;
}

/* line 75, ../sass/style.scss */
.libra-ion-back-white {
  background: url("../../img/icon-back-white.png") no-repeat center;
}

/* line 79, ../sass/style.scss */
.libra-ion-back-white {
  background-size: 23px;
  width: 25%;
  max-width: 25%;
  border-color: transparent;
  background-position: 10% 50%;
  z-index: 9;
}

/* line 88, ../sass/style.scss */
.content-libra {
  background: #222;
  top: 0;
  bottom: 0;
}

/* ========================= HEADER =========================== */
/* line 95, ../sass/style.scss */
.header-libra {
  background: rgba(0, 0, 0, 0.64);
  color: #fff;
}
/* line 99, ../sass/style.scss */
.header-libra .title {
  width: 100%;
  margin: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  left: 0 !important;
  text-align: center !important;
}
/* line 108, ../sass/style.scss */
.header-libra .title h4 {
  width: 100%;
  margin: 0;
  color: #E4E3E3;
}
/* line 116, ../sass/style.scss */
.header-libra .logo {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
}
/* line 123, ../sass/style.scss */
.header-libra .logo img {
  width: 90px;
}

/* ======================= CLOSE HEADER ======================= */
/* ========================== FOOTER ========================== */
/* line 134, ../sass/style.scss */
.has-footer, .has-tabs {
  bottom: 0px;
}

/* line 139, ../sass/style.scss */
.tab-footer-libra .tabs {
  background: rgba(0, 0, 0, 0.64);
  height: 50px;
  padding: 0px;
}
/* line 145, ../sass/style.scss */
.tab-footer-libra .icon {
  background-size: 32px 32px;
  width: 35px;
  display: table-cell;
  vertical-align: middle;
}
/* line 152, ../sass/style.scss */
.tab-footer-libra a {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-color: transparent !important;
  text-decoration: none;
}

/* line 159, ../sass/style.scss */
.libra-timeline-active {
  background: url("../../img/btn-tab/Button-Timeline-Active.png") no-repeat center;
}

/* line 163, ../sass/style.scss */
.libra-timeline {
  background: url("../../img/btn-tab/Button-Timeline.png") no-repeat center;
}

/* line 167, ../sass/style.scss */
.libra-mybook-active {
  background: url("../../img/btn-tab/Button-My-Libra-active.png") no-repeat center;
}

/* line 171, ../sass/style.scss */
.libra-mybook {
  background: url("../../img/btn-tab/Button-My-Libra.png") no-repeat center;
}

/* line 175, ../sass/style.scss */
.libra-add-active {
  background: url("../../img/btn-tab/Button-Add-Active.png") no-repeat center;
}

/* line 179, ../sass/style.scss */
.libra-add {
  background: url("../../img/btn-tab/Button-Add.png") no-repeat center;
}

/* line 183, ../sass/style.scss */
.libra-mystore-active {
  background: url("../../img/btn-tab/Button-My-Store-active.png") no-repeat center;
}

/* line 187, ../sass/style.scss */
.libra-mystore {
  background: url("../../img/btn-tab/Button-My-Store.png") no-repeat center;
}

/* line 191, ../sass/style.scss */
.libra-message-active {
  background: url("../../img/btn-tab/Button-Message-active.png") no-repeat center;
}

/* line 195, ../sass/style.scss */
.libra-message {
  background: url("../../img/btn-tab/Button-Message.png") no-repeat center;
}

/* ===================== CLOSE FOOTER ========================= */
/* ========================== ADD LIBRA ======================= */
/* line 201, ../sass/style.scss */
.content-addlibra {
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  justify-content: center;
}

/* line 208, ../sass/style.scss */
.body-addlibra {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 219, ../sass/style.scss */
.body-addlibra button {
  border: 1px solid #fff;
  -webkit-border: 1px solid #fff;
  -moz-border: 1px solid #fff;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #333;
  color: #fff;
  width: 250px;
  padding: 0px 20px;
  margin: 13px auto;
  height: 40px;
  min-height: 40px;
  line-height: 35px;
}

/* ======================= CLOSE ADD LIBRA ==================== */
/* ======================== ADD BOOK ========================== */
/* line 237, ../sass/style.scss */
.form-addbook {
  top: 44px;
  position: relative;
  background: #fff;
}
/* line 242, ../sass/style.scss */
.form-addbook input {
  width: 70%;
  border-bottom: 1px solid #333;
  margin: 0 auto;
}
/* line 248, ../sass/style.scss */
.form-addbook img {
  width: 100%;
}
/* line 252, ../sass/style.scss */
.form-addbook .submit-ok {
  background-image: url("../../img/ok.png");
  background-position: 50% 50%;
  background-size: 65px;
  height: 65px;
  width: 100%;
  background-repeat: no-repeat;
  color: transparent;
  background-color: #fff;
  border: none;
  margin: 30px 0px;
}

/* ====================== CLOSE ADD BOOK ====================== */
/* ======================= MY LIBRA =========================== */
/* line 271, ../sass/style.scss */
.header-libra .search-mylibra .search {
  position: absolute;
  right: 1px;
  width: 100%;
  top: 0px;
}
/* line 277, ../sass/style.scss */
.header-libra .search-mylibra .search .search-wrapper-light {
  background: none;
  border-radius: 0;
  margin-left: 2px;
  margin-right: 2px;
}
/* line 285, ../sass/style.scss */
.header-libra .search-mylibra .search .search-wrapper-light input,
.header-libra .search-mylibra .search .search-wrapper-light input::-webkit-input-placeholder {
  color: #333;
}
/* line 290, ../sass/style.scss */
.header-libra .search-mylibra input {
  width: 100%;
  border-radius: 30px;
  position: relative;
  z-index: 9;
  margin: 0 auto;
  top: 4px;
  height: 30px;
  padding-left: 13px;
  border: 1px solid #949292;
  color: #333;
}
/* line 303, ../sass/style.scss */
.header-libra .search-mylibra i {
  float: right;
  font-size: 25px;
  padding-right: 20px;
  z-index: 99;
  position: absolute;
  right: 15px;
  top: 8.5px;
  color: #fff;
}
/* line 314, ../sass/style.scss */
.header-libra .search-mylibra i.ion-close {
  top: 12px !important;
  font-size: 20px;
  color: #898586;
}

/* line 322, ../sass/style.scss */
.list-mylibra {
  top: 44px;
  position: relative;
  display: block;
  padding: 0px 10px;
  padding-bottom: 52px;
}

/* line 330, ../sass/style.scss */
.wrap-mylibra {
  width: 100%;
  padding: 0px;
  margin: 5px 0px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
}
/* line 341, ../sass/style.scss */
.wrap-mylibra .row {
  padding: 0px;
}
/* line 344, ../sass/style.scss */
.wrap-mylibra .row h4 {
  font-size: 13.5px;
  margin: 10px 0px 0px;
}
/* line 349, ../sass/style.scss */
.wrap-mylibra .row p {
  color: #868686;
}
/* line 355, ../sass/style.scss */
.wrap-mylibra .thumb {
  height: 120px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat;
  -webkit-border-radius: 10px 0px 0px 10px;
  -mox-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
/* line 363, ../sass/style.scss */
.wrap-mylibra .detail-info {
  height: 120px;
  padding: 0px 17px;
  position: relative;
}
/* line 368, ../sass/style.scss */
.wrap-mylibra .detail-info p {
  margin: 0px;
  font-size: 11px;
}
/* line 373, ../sass/style.scss */
.wrap-mylibra .detail-info .action {
  position: absolute;
  width: 80%;
  bottom: 8px;
  color: #868686;
}
/* line 379, ../sass/style.scss */
.wrap-mylibra .detail-info .action div {
  width: 30%;
  display: inline-block;
  font-size: 12px;
}
/* line 384, ../sass/style.scss */
.wrap-mylibra .detail-info .action div i {
  margin-right: 7px;
}

/* line 394, ../sass/style.scss */
.like-heart {
  color: red;
}

/* ============== DETAIL MY LIBRA ================= */
/* line 399, ../sass/style.scss */
.content-detailmylibra {
  background: #fff;
}

/* line 403, ../sass/style.scss */
.body-detail {
  padding-bottom: 55px;
}
/* line 407, ../sass/style.scss */
.body-detail img {
  width: 100%;
  display: block;
}
/* line 412, ../sass/style.scss */
.body-detail .description-detail {
  background: #fff;
}
/* line 415, ../sass/style.scss */
.body-detail .description-detail .title {
  text-align: center;
  padding: 10px 0px;
  background: #f8f8f8;
}
/* line 420, ../sass/style.scss */
.body-detail .description-detail .title h4 {
  font-size: 13.5px;
  margin: 0px 0px 2px;
}
/* line 425, ../sass/style.scss */
.body-detail .description-detail .title p {
  margin-bottom: 0px;
  font-size: 11px;
}
/* line 430, ../sass/style.scss */
.body-detail .description-detail .title .action {
  position: relative;
  margin: 5px auto;
  width: 70%;
  color: #868686;
}
/* line 436, ../sass/style.scss */
.body-detail .description-detail .title .action div {
  width: 30%;
  display: inline-block;
  font-size: 14px;
}
/* line 441, ../sass/style.scss */
.body-detail .description-detail .title .action div i {
  margin-right: 7px;
}
/* line 450, ../sass/style.scss */
.body-detail .sinopsis-detail {
  padding: 15px 40px;
  font-size: 11px;
}
/* line 455, ../sass/style.scss */
.body-detail .comment-detail {
  padding: 0px 40px;
}
/* line 458, ../sass/style.scss */
.body-detail .comment-detail img {
  width: 35px;
  float: left;
  -webkit-border-radius: 50%;
  -mox-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 464, ../sass/style.scss */
.body-detail .comment-detail h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 469, ../sass/style.scss */
.body-detail .comment-detail article {
  margin-bottom: 20px;
}
/* line 473, ../sass/style.scss */
.body-detail .comment-detail textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -mox-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  white-space: normal;
  padding: 4px;
}
/* line 482, ../sass/style.scss */
.body-detail .comment-detail button {
  margin-top: 10px;
  height: 25px;
  min-height: 25px;
  font-size: 12px;
  line-height: 20px;
}
/* line 490, ../sass/style.scss */
.body-detail .comment-detail .comment {
  margin-left: 45px;
  display: block;
}
/* line 494, ../sass/style.scss */
.body-detail .comment-detail .comment h4 {
  font-size: 13.5px;
  margin: 0px;
}
/* line 499, ../sass/style.scss */
.body-detail .comment-detail .comment span {
  font-size: 10px;
}
/* line 503, ../sass/style.scss */
.body-detail .comment-detail .comment p {
  font-size: 11px;
}

/* =========== CLOSE DETAIL MY LIBRA ============== */
/* ==================== CLOSE MY LIBRA ======================== */
