<ion-view hide-nav-bar="true">

	<ion-header-bar class="header-libra">
		<a class="libra-ion-back-white" href="#/app/mylibra"></a>
		<div class="logo">
			<!--img src="img/LIBRA-LOGO.png" /-->
		</div>

		<!--div id="search" class="search-mylibra">
            <form>
                <div id="open" class="search">
                    <ion-search class="search-wrapper-light" placeholder="Search" min-length="1" filter="search"></ion-search>
                </div>
            </form>

            <i class="icon ion-search placeholder-icon" on-icon="ion-search" off-icon="ion-close" slider-toggle="#open" ng-click="search.value = ''"></i>
            
        </div-->

	</ion-header-bar>

	<ion-content class="content-libra content-detailmylibra">
		<div class="body-detail">
			<div>
				<img src="img/photo.png" alt="mybook">
			</div>
			<div class="description-detail">
				<div class="title">
					<h4><strong>Ayah</strong></h4>
					<p>Andrea Hirata</p>
					<p> Bintang Pustaka, 2014. 400 Halaman</p>
					<p>Novel</p>

					<div class="action">
						<div><i class="ion ion-heart" toggle-class="like-heart"></i>20</div>
						<div><i class="ion ion-chatbubble" ng-click="comment()"></i>5</div>
						<div><i class="ion ion-forward"></i>100</div>
					</div>
				</div>
				<div class="sinopsis-detail">
					<p> Setelah lama tak terdengar, Andrea Hirata muncul lagi dengan novel barunya, Ayah. Dua minggu sebelum buku ini resmi terbit
					tanggal 29 Mei, saya sudah mendapatkannya duluan  ( Janga tanya dari mana ) :) . Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere ullamcorper faucibus. Nam vel ipsum tellus. Fusce at velit bibendum, lacinia leo a, congue velit.  <a href="#"> Read more</a>

					</p>
				</div>
			</div>
			<div class="comment-detail">
				<h2> Friends' Reviews </h2>
				<article>
					<img src="img/venke.jpg" />
					<div class="comment">
						<h4> Cassandra </h4>
						<span> 1 hour ago</span>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere ullamcorper faucibus. Nam vel ipsum tellus. Fusce at velit bibendum, lacinia leo a, congue velit. </p>
					</div>
				</article>

				<article>
					<img src="img/venke.jpg" />
					<div class="comment">
						<h4> Cassandra </h4>
						<span> 1 hour ago</span>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere ullamcorper faucibus. Nam vel ipsum tellus. Fusce at velit bibendum, lacinia leo a, congue velit. </p>
					</div>
				</article>

				<article>
					<textarea class="foc" placeholder="Comment..."></textarea>
					<button class="button button-balanced"> Comment </button>
				</article>
			</div>

		</div>
	</ion-content>

</ion-view>