@mixin flex(){
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

@mixin flex-center(){
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

@mixin flex-right(){
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

@mixin border-radius($values){
    -webkit-border-radius: $values;
    -mox-border-radius: $values;
    -ms-border-radius: $values;
    border-radius: $values;
}

@mixin fonth4{
    font-size: 13.5px;
}

@mixin fontp{
    font-size: 11px;
}

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Source Sans Pro;
    src: url('../../fonts/SourceSansPro.eot');/*  here you gou IE */
    src: url('../../fonts/SourceSansPro.eot#iefix') format('embedded-opentype'),
     url('../../fonts/SourceSansPro.otf') format('opentype'), /* IE no comprende format() */
     url('../../fonts/SourceSansPro.woff') format('woff'),
     url('../../fonts/SourceSansPro.ttf') format('truetype'),
      url('../../fonts/SourceSansPro.svg') format('svg'); 
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Source Sans Pro'; 
    font-size: 17px;
    color: #545454;
    height: 100%;
    overflow: hidden;
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.libra-ion-back-white{
    background: url('../../img/icon-back-white.png') no-repeat center;
}

.libra-ion-back-white{
    background-size: 23px;
    width: 25%;
    max-width: 25%;
    border-color: transparent;
    background-position: 10% 50%;
    z-index: 9;
}

.content-libra{
    background: #222;
    top: 0;
    bottom: 0;
}

/* ========================= HEADER =========================== */
    .header-libra{
        background: rgba(0, 0, 0, 0.64);
        color: #fff;

        .title{
            width: 100%;
            margin: 0px;
            @include flex();
            @include flex-center();
            position: absolute;
            left: 0 !important;
            text-align: center !important;

            h4{
                width: 100%;
                margin: 0;
                color: #E4E3E3;
            }
        }
        

        .logo{
            height: 100%;
            width: 100%;
            @include flex();
            @include flex-center();
            position: absolute;

            img{
                width: 90px;
            }

        }

    }
    
/* ======================= CLOSE HEADER ======================= */

/* ========================== FOOTER ========================== */
    .has-footer, .has-tabs{
        bottom: 0px;
    }

    .tab-footer-libra {
        .tabs{
            background: rgba(0, 0, 0, 0.64);
            height: 50px;
            padding: 0px;
        }

        .icon{
            background-size: 32px 32px;
            width: 35px;
            display: table-cell;
            vertical-align: middle;
        }

        a{
            @include flex();
            border-color: transparent !important;
            text-decoration: none;
        }
    }

    .libra-timeline-active{
        background: url('../../img/btn-tab/Button-Timeline-Active.png') no-repeat center;
    }

    .libra-timeline{
        background: url('../../img/btn-tab/Button-Timeline.png') no-repeat center;
    }

    .libra-mybook-active{
        background: url('../../img/btn-tab/Button-My-Libra-active.png') no-repeat center;
    }

    .libra-mybook{
        background: url('../../img/btn-tab/Button-My-Libra.png') no-repeat center;
    }

    .libra-add-active{
        background: url('../../img/btn-tab/Button-Add-Active.png') no-repeat center;
    }

    .libra-add{
        background: url('../../img/btn-tab/Button-Add.png') no-repeat center;
    }

    .libra-mystore-active{
        background: url('../../img/btn-tab/Button-My-Store-active.png') no-repeat center;
    }

    .libra-mystore{
        background: url('../../img/btn-tab/Button-My-Store.png') no-repeat center;
    }

    .libra-message-active{
        background: url('../../img/btn-tab/Button-Message-active.png') no-repeat center;
    }

    .libra-message{
        background: url('../../img/btn-tab/Button-Message.png') no-repeat center;
    }
/* ===================== CLOSE FOOTER ========================= */

/* ========================== ADD LIBRA ======================= */
    .content-addlibra{
        background: #222;
        position: absolute;
        @include flex();
        justify-content: center;
    }

    .body-addlibra{
        height: 100%;
        position: relative;
        @include flex();
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-wrap: nowrap; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button{
            border: 1px solid #fff;
            -webkit-border: 1px solid #fff;
            -moz-border: 1px solid #fff;
            @include border-radius(10px);
            background: #333;
            color: #fff;
            width: 250px;
            padding: 0px 20px;
            margin: 13px auto;
            height: 40px;
            min-height: 40px;
            line-height: 35px;
        }
    }
/* ======================= CLOSE ADD LIBRA ==================== */

/* ======================== ADD BOOK ========================== */
    .form-addbook{
        top: 44px;
        position: relative;
        background: #fff;

        input{
            width: 70%;
            border-bottom: 1px solid #333;
            margin: 0 auto;
        }

        img{
            width: 100%;
        }

        .submit-ok{
            background-image: url('../../img/ok.png');
            background-position: 50% 50%;
            background-size: 65px;
            height: 65px;
            width: 100%;
            background-repeat: no-repeat;
            color: transparent;
            background-color: #fff;
            border: none;
            margin: 30px 0px;
        }
    }
/* ====================== CLOSE ADD BOOK ====================== */

/* ======================= MY LIBRA =========================== */

    .header-libra{
        .search-mylibra{
            .search{
                position: absolute;
                right: 1px;
                width: 100%;
                top: 0px;

                .search-wrapper-light {
                    background: none;
                    border-radius: 0;
                    margin-left: 2px;
                    margin-right: 2px;
                }

                .search-wrapper-light input, 
                .search-wrapper-light input::-webkit-input-placeholder {
                    color: #333;
                }
            }

            input{
                width: 100%;
                border-radius: 30px;
                position: relative;
                z-index: 9;
                margin: 0 auto;
                top: 4px;
                height: 30px;
                padding-left: 13px;
                border: 1px solid #949292;
                color: #333;
            }

            i{
                float: right;
                font-size: 25px;
                padding-right: 20px;
                z-index: 99;
                position: absolute;
                right: 15px;
                top: 8.5px;
                color: #fff;
            }

            i.ion-close{
                top: 12px !important;
                font-size: 20px;
                color: #898586;
            }
        }
    }

    .list-mylibra{
        top: 44px;
        position: relative;
        display: block;
        padding: 0px 10px;
        padding-bottom: 52px;
    }

    .wrap-mylibra{
        width: 100%;
        padding: 0px;
        margin: 5px 0px;
        display: inline-block;
        position: relative;
        border-radius: 10px;
        background: #fff;
        text-decoration: none;


        .row{
            padding: 0px; 

            h4{
                @include fonth4;
                margin: 10px 0px 0px;
            }

            p{
                color: #868686;
            }
        }


        .thumb{
            height: 120px;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat;
            @include border-radius(10px 0px 0px 10px);
        }

        .detail-info{
            height: 120px;
            padding: 0px 17px;
            position: relative;

            p{
                margin: 0px;
                @include fontp;
            }

            .action{
                position: absolute;
                width: 80%;
                bottom: 8px;
                color: #868686;

                div{
                    width: 30%;
                    display: inline-block;
                    font-size: 12px;

                    i{
                        margin-right: 7px;
                    }

                }

            }
        }
    }

    .like-heart{ color: red; }


    /* ============== DETAIL MY LIBRA ================= */

        .content-detailmylibra{
            background: #fff;
        }

        .body-detail{

            padding-bottom: 55px;

            img{
                width: 100%;
                display: block;
            }

            .description-detail{
                background: #fff;

                .title{
                    text-align: center;
                    padding: 10px 0px;
                    background: #f8f8f8;

                    h4{
                        @include fonth4;
                        margin: 0px 0px 2px;
                    }

                    p{
                        margin-bottom: 0px;
                        @include fontp;
                    }

                    .action{
                        position: relative;
                        margin: 5px auto;
                        width: 70%;
                        color: #868686;

                        div{
                            width: 30%;
                            display: inline-block;
                            font-size: 14px;

                            i{
                                margin-right: 7px;
                            }
                        }

                    }
                }
            }

            .sinopsis-detail{
                padding: 15px 40px;
                @include fontp;
            }

            .comment-detail{
                padding: 0px 40px;

                img{
                    width: 35px;
                    float: left;
                    @include border-radius(50%);
                }

                h2{
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                article{
                    margin-bottom: 20px;
                }

                textarea{
                    width: 100%;
                    height: 60px;
                    border: 1px solid #ccc;
                    @include border-radius(4px);
                    white-space: normal;
                    padding: 4px;
                }

                button{
                    margin-top: 10px;
                    height: 25px;
                    min-height: 25px;
                    font-size: 12px;
                    line-height: 20px;
                }

                .comment{
                    margin-left: 45px;
                    display: block;

                    h4{
                        @include fonth4;
                        margin: 0px;
                    }

                    span{
                        font-size: 10px;
                    }

                    p{
                        @include fontp;
                    }


                }
            }
        }

    /* =========== CLOSE DETAIL MY LIBRA ============== */

/* ==================== CLOSE MY LIBRA ======================== */