<ion-view hide-nav-bar="true">

	<ion-header-bar class="header-libra">
		<div class="logo">
			<img src="img/LIBRA-LOGO.png" />
		</div>

		<div id="search" class="search-mylibra">
            <form>
                <div id="open" class="search">
                    <ion-search class="search-wrapper-light" placeholder="Search" min-length="1" filter="search"></ion-search>
                </div>
            </form>

            <i class="icon ion-search placeholder-icon" on-icon="ion-search" off-icon="ion-close" slider-toggle="#open" ng-click="search.value = ''"></i>
            
        </div>

	</ion-header-bar>
	

	<ion-content class="content-libra">
		<div class="list-mylibra">
			<div class="wrap-mylibra">
				<div class="row">
					<div class="col col-50 thumb" style="background: url('img/photo.png');"></div>
					<div class="col col-50 detail-info">
						 <a href="#/app/detail-mylibra"><h4>Responsive web designa </h4></a>
						<p> Lorem ipsum dolat sit amet consectuer </p>
						<div class="action">
							<div><i class="ion ion-heart" toggle-class="like-heart"></i>20</div>
							<div><i class="ion ion-chatbubble" ng-click="detmylibra('/app/detail-mylibra'); comment();"></i>5</div>
							<div><i class="ion ion-forward"></i>100</div>
						</div>

					</div>

				</div>
			</div>

			<div class="wrap-mylibra">
				<div class="row">
					<div class="col col-50 thumb" style="background: url('img/photo.png');"></div>
					<div class="col col-50 detail-info">
						 <a href="#/app/detail-mylibra"><h4>Responsive web designa </h4></a>
						<p> Lorem ipsum dolat sit amet consectuer </p>
						<div class="action">
							<div><i class="ion ion-heart" toggle-class="like-heart"></i>20</div>
							<div><i class="ion ion-chatbubble" ng-click="detmylibra('/app/detail-mylibra'); comment();"></i>5</div>
							<div><i class="ion ion-forward"></i>100</div>
						</div>

					</div>

				</div>
			</div>



			

		</div>
	</ion-content>

</ion-view>