<ion-view hide-nav-bar="true">

	<ion-header-bar class="header-libra">
		<a class="libra-ion-back-white" href="#/app/addlibra"></a>
		<div class="title">
			<h4> add new book </h4>
		</div>
	</ion-header-bar>

	<ion-content class="content-libra">
		<div class="form-addbook">
			<form>
				<img src="img/photo.png">
				<input type="text" placeholder="The year you buy">
				<input type="text" placeholder="Book name">
				<input type="text" placeholder="Author">
				<input type="text" placeholder="Publisher">
				<input type="text" placeholder="Year publisher">
				<input type="text" placeholder="Total pages">
				<input type="text" placeholder="Price">
				<input type="text" placeholder="Category">
				<input type="text" placeholder="Add review">

				<input type="submit" value="save" class="submit-ok">
			</form>
		</div>
	</ion-content>

</ion-view>