<ion-view hide-nav-bar="true">

	<ion-header-bar class="header-libra">
		<div class="logo">
			<img src="img/LIBRA-LOGO.png" />
		</div>
	</ion-header-bar>

	<ion-content class="content-addlibra">
		<div class="body-addlibra">
			<button class="button button-outline btn-add" ui-sref="addbook"> New Book </button>

			<button class="button button-outline btn-add"> Favourite Quote </button>

			<button class="button button-outline btn-add"> Hilite words </button>

		</div>
	</ion-content>

</ion-view>